pycodestyle # style check
pylint # style check
flake8 # style check
pyenchant # pylint spell check plugin
pytest # test framework
pytest-cov # pytest coverage plugin
mccabe # static analysis
py-spy # sampling profiler
mypy # type checker
snakeviz # graphical user interface for profiler output
