Source: python-skeleton
Priority: optional
Maintainer: Alexander Reitzel <funtimecoding@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python3-all, python3-setuptools, python3-mccabe
Standards-Version: 3.9.8
Homepage: https://github.com/FunTimeCoding/python-skeleton
X-Python3-Version: >= 3.2
Vcs-Browser: https://github.com/FunTimeCoding/python-skeleton
Vcs-Git: https://github.com/FunTimeCoding/python-skeleton.git

Package: python3-python-skeleton
Section: python
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}
Description: stub short description
 Stub long description.
